{% extends 'base2.html.twig' %}
{% block content %}
    {% set urlc= app.request.uri %}


    {% set long = urlc|length %}

    {% set res=  urlc|slice(33, long) %}

    {% if club.id == res %}
        <center>



        <h1>{{ club.name }}</h1>
        <p>{{ club.specialty }}</p>
    {% endif %}
    <br><br><br><br><br>

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">


        {{form(form)}}
    </div>

    </center>
    <br><br><br><br><br>

    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i> List activities</h4>



                <div class="row mb">
                    <!-- page start-->
                    <div class="content-panel">
                        <div class="adv-table">
                            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Club</th>
                                    <th class="hidden-phone">about</th>
                                    <th class="hidden-phone">location</th>
                                    <th class="hidden-phone">date</th>
                                    <th class="hidden-phone">duration in hours</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for activity in activities %}
                                    {% if activity.club.id == res %}
                                        <tr class="gradeU">
                                            <td>{{ activity.id }}</td>
                                            <td>{{ activity.club.name }}</td>
                                            <td>{{ activity.about }}</td>
                                            <td>{{ activity.location }}</td>
                                            <td>{{ activity.date|date }}</td>
                                            <td>{{ activity.duration }}</td>

                                        </tr>
                                    {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                        <li> <a href="{{ path('export') }}">export</a> </li>
                    </div>
                    <!-- page end-->
                </div>

            </div>
        </div>
    </div>
{% endblock %}