{% extends 'base2.html.twig' %}
{% block content %}
<br/>
    <h1><strong>List of clubs</strong></h1>
        <div style="text-align: center;">


            <div class="table-hover table-bordered table-inbox table-condensed"  border="1">

                <table class="table-hover table"  border="1">
   <tr>
       <th>Name</th>
       <th>Specialty</th>
       <th>Responsible</th>


   </tr>
        {% for c in club %}
        <tr>

            <td>{{ c.name }}</td>
            <td>{{ c.specialty }}</td>
            <td>{{ c.responsible }}</td>

            <td><a class="btn btn-danger btn-sm" href="{{ path('club_deleteClub',{"id":c.id}) }}">delete</a></td>
            <td><a  class="btn btn-warning btn-sm" href="{{ path('club_updateClub',{"id":c.id}) }}">update</a></td>
            <td><a class="btn btn-primary btn-sm" href="{{ path('detail_club',{"id":c.id}) }}">show details</a></td>
        </tr>
        {% endfor %}

    </table>
            </fieldset>
            </div>

    </div> </section> </section>





{% endblock %}