{% extends 'baseBack.html.twig' %}
{% block content %}
    <section id="main-content">
    <section class="wrapper">
    <div class="row">
        <center>
        <fieldset style="width:80%">


            <table border="2">
   <tr>
       <th>id</th>
       <th>name</th>
       <th> spcialty</th>
       <th>responsible</th>

       <th>members</th>
       <th>image</th>

   </tr>
        {% for c in club %}
        <tr>
            <td>{{  c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.specialty }}</td>
            <td>{{ c.responsible }}</td>

            <td>{{ c.members }}</td>
            <td><img src="{{ asset('images/') }}{{ c.nomImage }}" style="width: 100px;height: 100px"></td>
            <td><a  href="{{ path('club_deleteClub',{"id":c.id}) }}">delete</a></td>
            <td><a  href="{{ path('club_updateClub',{"id":c.id}) }}">update</a></td>
            <td><a  href="{{ path('detail_club',{"id":c.id}) }}">show detail</a></td>
        </tr>
        {% endfor %}

    </table>
            </fieldset>
            </centre>

    </div> </section> </section>





{% endblock %}