{% extends 'base2.html.twig' %}
{% block content %}

    <br/><br/>
<center><h3><strong>List of notifications</strong> </h3></center>
    <br/>
<table class="table table-striped table-hover table-bordered table-inbox table-condensed" >

        <thead>
            <th>Category</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Content</th>
            <th>State</th>
            <th></th>
        </thead>
        <tbody>
        {% for n in notification %}
            <tr>
                <td>{{ n.category }}</td>
                <td>{{ n.sender }}</td>
                <td>{{ n.receiver }}</td>
                <td>{{ n.content}}</td>
                <td>
                    {% if n.state == true %}
                        treaty
                    {% else %}
                        In progress<br>
                    {% endif %}</td>
                <td><a class="btn btn-danger btn-sm" href="{{ path('deletenot',{"id":n.id}) }}">delete</a></td>
                <td><a class="btn btn-warning btn-sm" href="{{ path('updatenot',{"id":n.id}) }}">update</a></td>


            </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock %}



