{% extends 'base.html.twig' %}
{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image:"{{ asset('web/images/bg_2.jpg') }}";">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">List of notifications</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Check notifications <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
    </section>
<div class="container">

<table class="table table-striped" >

        <thead>
            <th>Category</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Content</th>

            <th></th>
        </thead>
        <tbody>
        {% for n in notification %}
            <tr>
                <td>{{ n.category }}</td>
                <td>{{ n.sender }}</td>
                <td>{{ n.receiver }}</td>
                <td>{{ n.content}}</td>
                <td>
                <td><a  class ="btn btn-primary btn-md" href="{{ path('traitnot',{"id":n.id}) }}">Treat</a>
                <a  class ="btn btn-success btn-md" href="{{ path('shownot',{"id":n.id}) }}">Details</a></td>



            </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock %}



