{% extends 'base.html.twig' %}

{% block script %}
    <link rel="stylesheet" href="{{asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')}}">
    <script src="{{asset('https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')}}"></script>
    <script src="{{asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')}}"></script> {% endblock %}
{% block content %}


<section class="hero-wrap hero-wrap-2" style="background-image:"{{ asset('web/images/bg_2.jpg') }}";">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Check your grades!</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Check grades <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section>
    <br/>
</section>
<section>
    <div class="container">
    <div class="row justify-content-center">
        <table class="table table-striped table-hover table-bordered table-inbox table-condensed" >
    <tr>

        <th>Subject</th>
        <th>Teacher</th>
        <th>Pupil</th>
        <th>Grade</th>

    </tr>
    {% for grade in listgrades %} <tr>

        <td>{{ grade.examname.subject }}</td>
        <td>{{ grade.teacher}}</td>
        <td>{{ grade.pupil.name}}</td>
        <td>{{ grade.grade}}</td>
        {#<td> <a href="{{ path('updategrades',{'id':grade.idg}) }}">Update</a></td>
        <td> <a href="{{ path('deletegrades',{'id':grade.idg}) }}">Delete</a></td>#}
    </tr>


    {% endfor %} </table> </div>
    </div>
</section>

{% endblock %}