{% extends 'base2.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-9 ftco-animate text-center">
                                <h1 class="mb-2 bread">Update grades</h1>

                            {{ form(form)}}
                            </div>
                        </div>
                    </div>

            </div>
        </section> </section>
    </html>
{% endblock %}


{#<html>
<head>


</head>
<body><h1>Update a grade</h1>
<fieldset style="width: 50%">
    <form method="POST">
        Subject: <input type="text" name="subject" value="{{ grade.subject }}">
        <br/>
        Session: <input type="text" name="session" value="{{ grade.idExam.session }}"><br/>
        Teacher: <input type="text" name="teacher" value="{{ grade.teacher }}"><br/>
        Pupil: <input type="text" name="pupil" value="{{ grade.pupil }}"><br/>
        Grade: <input type="text" name="grade" value="{{ grade.grade }}"><br/>
        <br/>

        <input type="submit" value="Enregistrer">
    </form>
</fieldset>

</body>

</html>#}