{% extends 'base2.html.twig' %}
{% block content %}
  <br/>
    <h1><strong>List of activities</strong></h1>



        <div class="table-hover table-bordered table-inbox table-condensed"  border="1">

            <table class="table-hover table"  border="1">
        <tr>

            <th>About</th>
            <th>Date</th>
            <th>Duration by hour</th>
            <th>Location</th>


        </tr>
        {% for a in activity %}
            <tr>

                <td>{{ a.about }}</td>
                <td>{{ a.date | date}}</td>
                <td>{{ a.duration }}</td>
                <td>{{ a.location }}</td>



                <td><a class="btn btn-warning btn-sm"  href="{{ path('club_updateActivity',{"id":a.id}) }}">update</a></td>
                <td><a class="btn btn-danger btn-sm" href="{{ path('club_deleteActivity',{"id":a.id}) }}">delete</a></td>

            </tr>
        {% endfor %}

    </table>
        </fieldset> </center></div> </section> </section>
{% endblock %}
