{% extends 'base2.html.twig' %}
{% block content %}
<html>
<head>
    <title>class</title></head>
<body>
<center>

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

                            {{ form_start(form) }}
                            {{ form_widget(form.classe) }}</br>
                            {{ form_end(form) }}
    <div class="table-hover table-bordered table-inbox table-condensed"  border="1">

        <table class="table-hover table"  border="1">
                                <tr>
                                    <th>Timetable</th>
                                    <th>Classes</th>
                                    <th></th>
                                    <th></th>

                                </tr>
                                {% for p in timetable %}
                                    <tr>
                                      <td>  <a href="{{ asset('uploads/brochures/' ~ p.content) }}">Timetable (PDF)</a></td>

                                        <td>{{ p.classe.nom }}</td>
                                        <td><a  class="btn btn-danger btn-sm" href="{{ path('class_deleteTimeTable',{"id":p.id}) }}">Delete</a></td>
                                        <td><a   class="btn btn-warning btn-sm" href="{{ path('class_updateTimeTable',{"id":p.id}) }}">Update</a></td>

                                    </tr>

                                {% endfor %}
                            </table>







</center>
</body>

</html>
{% endblock %}